<div class="tick" style="left: calc(({{year}} - 1998) * 200px);">
  <div class="tick-label">{{year}}</div>
	<div class="event-card">
		{{> timeline/event-card title=title description=description }}
	</div>
</div>