<div class="event-indicator" id="{{event-id}}" style="left: calc(({{year}} - 1998) * 200px);">
	<img src="img/event-icons/{{event-icon}}" alt="Event Image" id="event-icon" /i>
	<div class="event-card">
		{{> timeline/event-card title=title description=description event-picture=event-picture}}
	</div>
</div>
