<div class="card" id="event-card">
	<div class="event-container">
		<img
			class="event-photo"
			src="img/event-pictures/{{event-picture}}"
			alt="Event Image"
		/>

		<div class="event-content">
			<div class="event-header"><h1>{{title}}</h1></div>
			<div class="event-description"><p>{{description}}</p></div>
		</div>
	</div>
</div>