<div class="page-container">
	<h1 id="page-title">Lucas Patenaude's Timeline</h1>
	<h2 id="page-subtitle">Internet and Sports Lover</h2>

	<div class="timeline-container">

		<div class="key" >
			<div class="key-item">
				<img src="img/event-icons/child.png" alt="Child Icon" />
				<p>Birth</p>
			</div>
			<div class="key-item">
				<img src="img/event-icons/home.png" alt="Home Icon" />
				<p>Home</p>
			</div>
			<div class="key-item">
				<img src="img/event-icons/school.png" alt="School Icon" />
				<p>School</p>
			</div>
			<div class="key-item">
				<img src="img/event-icons/hockey.png" alt="Hockey Icon" />
				<p>Hockey</p>
			</div>
			<div class="key-item">
				<img src="img/event-icons/airplane.png" alt="Airplane Icon" />
				<p>Vacation</p>
			</div>
			<div class="key-item">
				<img src="img/event-icons/graduation.png" alt="Graduation Icon" />
				<p>Graduation</p>
			</div>
			<div class="key-item">
				<img src="img/event-icons/cu.png" alt="CU Icon" />
				<p>CU Boulder</p>
			</div>
		</div>

		<!-- -------------------- All Year Ticks Here -------------------- -->

		<div class="timeline-line" style="min-width: calc(31 * 200px);"> <!-- 28 years from 1998 to 2025 -->
			{{> timeline/ticks/tick type="tick" year=1996 }}
			{{> timeline/ticks/tick type="tick" year=1997 }}
			{{> timeline/ticks/tick type="tick" year=1998 }}
			{{> timeline/ticks/tick type="tick" year=1999 }}
			{{> timeline/ticks/tick type="decade-tick" year=2000 }}
			{{> timeline/ticks/tick type="tick" year=2001 }}
			{{> timeline/ticks/tick type="tick" year=2002 }}
			{{> timeline/ticks/tick type="tick" year=2003 }}
			{{> timeline/ticks/tick type="tick" year=2004 }}
			{{> timeline/ticks/tick type="half-tick" year=2005 }}
			{{> timeline/ticks/tick type="tick" year=2006 }}
			{{> timeline/ticks/tick type="tick" year=2007 }}
			{{> timeline/ticks/tick type="tick" year=2008 }}
			{{> timeline/ticks/tick type="tick" year=2009 }}
			{{> timeline/ticks/tick type="decade-tick" year=2010 }}
			{{> timeline/ticks/tick type="tick" year=2011 }}
			{{> timeline/ticks/tick type="tick" year=2012 }}
			{{> timeline/ticks/tick type="tick" year=2013 }}
			{{> timeline/ticks/tick type="tick" year=2014 }}
			{{> timeline/ticks/tick type="half-tick" year=2015 }}
			{{> timeline/ticks/tick type="tick" year=2016 }}
			{{> timeline/ticks/tick type="tick" year=2017 }}
			{{> timeline/ticks/tick type="tick" year=2018 }}
			{{> timeline/ticks/tick type="tick" year=2019 }}
			{{> timeline/ticks/tick type="decade-tick" year=2020 }}
			{{> timeline/ticks/tick type="tick" year=2021 }}
			{{> timeline/ticks/tick type="tick" year=2022 }}
			{{> timeline/ticks/tick type="tick" year=2023 }}
			{{> timeline/ticks/tick type="tick" year=2024 }}
			{{> timeline/ticks/tick type="half-tick" year=2025 }}
			{{> timeline/ticks/tick type="tick" year=2026 }}
			{{> timeline/ticks/tick type="tick" year=2027 }}
			{{> timeline/ticks/tick type="tick" year=2028 }}

			<!-- -------------------- All Events Here -------------------- -->

			{{> timeline/ticks/event year=1998 
				event-icon="child.png" event-id="birth-event"
				event-picture="hospital.jpg"
				title="July 20th, 1998" 
				description="I was born July 20th, 1998 in Minnesota" 
			}}

			{{> timeline/ticks/event year=2003 
				event-icon="home.png" event-id="home-event"
				event-picture="home.jpg"
				title="July 2003" 
				description="In July 2003, I moved into my childhood home"
			}}

			{{> timeline/ticks/event year=2004
				event-icon="school.png" event-id="school-start-event"
				event-picture="elementary.jpg"
				title="September 2004" 
				description="In September 2004, I started my first day of Kindergarten" 
			}}

			{{> timeline/ticks/event year=2005 
				event-icon="hockey.png" event-id="hockey-start-event"
				event-picture="community-center.jpg"
				title="October 2005" 
				description="In October 2004, I started my first day of year of competitive hockey. I would play until I was 18." 
			}}

			{{> timeline/ticks/event type="tick" year=2007 
				event-icon="airplane.png" event-id="vacation-event"
				event-picture="tulum.jpg"
				title="April 2007" 
				description="For Spring Break 2007, me and my family went to Tulum, Mexico. This was the first time I ever left the country."
			}}

			{{> timeline/ticks/event year=2011 
				event-icon="school.png" event-id="middle-school-start-event"
				event-picture="middle-school.jpg"
				title="September 2011" 
				description="In September 2011, I started middle school and had one of my favorite years playing hockey. We made a surprising run to the state championship, however, we lost in triple overtime."
			}}

			{{> timeline/ticks/event year=2014 
				event-icon="school.png" event-id="high-school-start-event"
				event-picture="high-school.jpg"
				title="September 2014" 
				description="In September 2014, I started high school"
			}}

			{{> timeline/ticks/event year=2017 
				event-icon="graduation.png" event-id="graduation-event"
				event-picture="graduation.jpg"
				title="June 2017" 
				description="In June 2017, I graduated from high school."
			}}

			{{> timeline/ticks/event year=2017 
				event-icon="school.png" event-id="college-start-event"
				event-picture="nhcc.webp"
				title="August 2017" 
				description="In August 2017, I started college at North Hennepin Community College"
			}}

			{{> timeline/ticks/event year=2019 
				event-icon="graduation.png" event-id="associates-graduation-event"
				event-picture="nhcc-graduation.webp"
				title="June 2019" 
				description="In June 2019, I graduated from North Hennepin with my Associates of Arts"
			}}


			{{> timeline/ticks/event year=2022 
				event-icon="cu.png" event-id="CU-start-event"
				event-picture="CU.avif"
				title="August 2022" 
				description="In August 2022, I moved to Boulder and started at CU Boulder"
			}}

		</div>
	</div>
</div>