<div class="page-container">

	<div class="card-container" id="timeline-body">
		<div class="card" id="event-card"></div>
		<div class="card" id="event-card"></div>
		<div class="card" id="event-card"></div>
		<div class="card" id="event-card"></div>
		<div class="card" id="event-card"></div>
		<div class="card" id="event-card"></div>
		<div class="card" id="event-card"></div>
		<div class="card" id="event-card"></div>
	</div>

	<div class="card-container" id="main-body">
		<div class="card">
			<h1>Some Text</h1>
		</div>

		<div class="card">
			<h1>Some Text</h1>
		</div>
	</div>
</div>