<div class="page-container">
	<h1 id="page-title">Lucas Patenaude's Timeline</h1>
	<div class="timeline-container">
		<div class="timeline-line" style="min-width: calc(28 * 200px);"> <!-- 28 years from 1998 to 2025 -->
			{{> timeline/ticks/event-tick type="tick" year=1998 
				event-icon="img/event-icons/child.png" event-id="birth-event"
				title="July 20th, 1998" 
				description="I was born July 20th, 1998 in Minnesota" 
			}}
			{{> timeline/ticks/tick type="tick" year=1999 }}
			{{> timeline/ticks/tick type="decade-tick" year=2000 }}
			{{> timeline/ticks/tick type="tick" year=2001 }}
			{{> timeline/ticks/tick type="tick" year=2002 }}
			{{> timeline/ticks/event-tick type="tick" year=2003 
				event-icon="img/event-icons/home.png" event-id="home-event"
				title="July 2003" 
				description="In July 2003, I moved into my childhood home"
			}}
			{{> timeline/ticks/event-tick type="tick" year=2004
				event-icon="img/event-icons/school.png" event-id="school-start-event"
				title="September 2004" 
				description="In September 2004, I started my first day of Kindergarten" 
			}}
			{{> timeline/ticks/event-tick type="half-tick" year=2005 
				event-icon="img/event-icons/hockey.png" event-id="hockey-start-event"
				title="Octoberr 2005" 
				description="In Octoberr 2004, I started my first day of year of competitive hockey. I would play until I was 18." 
			}}
			{{> timeline/ticks/tick type="tick" year=2006 }}
			{{> timeline/ticks/tick type="tick" year=2007 }}
			{{> timeline/ticks/tick type="tick" year=2008 }}
			{{> timeline/ticks/tick type="tick" year=2009 }}
			{{> timeline/ticks/tick type="decade-tick" year=2010 }}
			{{> timeline/ticks/tick type="tick" year=2011 }}
			{{> timeline/ticks/tick type="tick" year=2012 }}
			{{> timeline/ticks/tick type="tick" year=2013 }}
			{{> timeline/ticks/tick type="tick" year=2014 }}
			{{> timeline/ticks/tick type="half-tick" year=2015 }}
			{{> timeline/ticks/tick type="tick" year=2016 }}
			{{> timeline/ticks/tick type="tick" year=2017 }}
			{{> timeline/ticks/tick type="tick" year=2018 }}
			{{> timeline/ticks/tick type="tick" year=2019 }}
			{{> timeline/ticks/tick type="decade-tick" year=2020 }}
			{{> timeline/ticks/tick type="tick" year=2021 }}
			{{> timeline/ticks/tick type="tick" year=2022 }}
			{{> timeline/ticks/tick type="tick" year=2023 }}
			{{> timeline/ticks/tick type="tick" year=2024 }}
			{{> timeline/ticks/tick type="half-tick" year=2025 }}
		</div>
	</div>
</div>