.event-card {
	display: none; /* Hide event card by default */
	position: absolute;
	height: fit-content;
	top: -250px;
	left: -125px;
	background-color: white;
	border-radius: 8px;
	padding: 5px;
	z-index: 99; /* Ensure it appears above other elements */
}

.event-content {
	background-color: white;
	display: flex;
	flex-direction: column; /* Ensure title and description are in a column */
	padding: 5px;
}

.event-header {
	margin: 0 0 10px 0; /* Add bottom margin to separate from description */
	font-size: 15px;
	color: black;
}

.event-description {
	margin: 0;
	font-size: 13px;
	color: black;
}
