/* -------------- Timeline Event Idicator Styling -------------- */

.event-indicator {
	position: absolute;
	/* z-index: 98; */
	display: flex; /* Use flexbox */
	align-items: center; /* Center vertically */
	justify-content: center; /* Center horizontally */
	background-color: white;
	border-radius: 50%;
	box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.5);
	height: 25px;
	width: 25px;
	top: -10px;
	left: -5px;
}

.event-indicator:hover {
	color: white;
	cursor: pointer;
	top: -18px;
	text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.9);
	height: calc(1.5 * 25px); /* Increase by 20% */
	width: calc(1.5 * 25px); /* Increase by 20% */
}

#event-icon {
	width: 50%;
	height: 50%;
}

/* Show event card on hover */
.event-indicator:hover .event-card {
	display: block;
}

/* -------------- Event Card Styling -------------- */

.event-card {
	display: none; /* Hide event card by default */
	position: absolute;
	left: -50px;
	height: 300px;
	margin-bottom: 600px;
}

.event-container {
	display: flex;
	flex-direction: row; /* Place photo and content in a row */
	align-items: flex-start; /* Align items to the top */
}

.event-content {
	background-color: rgb(238, 132, 18);
	border: 4px solid rgb(178, 101, 6); /* Black border */
	min-width: 300px;
	max-width: 600px;
	text-shadow: none;
	border-radius: 8px;
	display: flex;
	padding: 5px;
	padding-right: 35px;
	padding-left: 15px;
	flex-direction: column; /* Ensure title and description are in a column */
	box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.8);
}

.event-header {
	margin: 0 5px; /* Add bottom margin to separate from description */
	font-size: 12px;
	color: rgb(255, 250, 250);
}

.event-description {
	margin: 0;
	font-size: 13px;
	color: rgb(255, 255, 255);
	overflow: hidden; /* Hide overflow text */
	text-overflow: ellipsis; /* Add ellipsis (...) for overflow text */
	overflow-wrap: break-word; /* Allow text to wrap and break within words */
	white-space: normal; /* Allow text to wrap */
}

.event-photo {
	position: relative;

	width: auto;
	max-width: 500px;
	margin-right: 10px; /* Add some space between photo and content */
	border-radius: 8px; /* Optional: add some border radius */
	border: 4px solid rgb(178, 101, 6); /* Black border */
	box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.8);
}

/* -------------- Event Spacing on Timeline -------------- */

#birth-event {
	transform: translateX(90px);
}

#home-event {
	transform: translateX(90px);
}

#school-start-event {
	transform: translateX(120px);
}

#hockey-start-event {
	transform: translateX(130px);
}

#vacation-event {
	transform: translateX(40px);
}

#middle-school-start-event {
	transform: translateX(120px);
}

#high-school-start-event {
	transform: translateX(120px);
}

#graduation-event {
	transform: translateX(55px);
}

#college-start-event {
	transform: translateX(110px);
}

#associates-graduation-event {
	transform: translateX(60px);
}

#CU-start-event {
	transform: translateX(110px);
}
