.event-indicator {
	position: absolute;
	z-index: 98;
	display: flex; /* Use flexbox */
	align-items: center; /* Center vertically */
	justify-content: center; /* Center horizontally */
	background-color: white;
	border-radius: 50%;
	box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.5);
	height: 25px;
	width: 25px;
	top: -10px;
	left: -5px;
}

.event-indicator:hover {
	color: white;
	cursor: pointer;
	top: -13px;
	text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.9);
	height: calc(1.5 * 25px); /* Increase by 20% */
	width: calc(1.5 * 25px); /* Increase by 20% */
}

#event-icon {
	width: 50%;
	height: 50%;
}

/* Show event card on hover */
.event-indicator:hover .event-card {
	display: block; 
}

/* -------------- Event Spacing on Timeline -------------- */

#birth-event {
	transform: translateX(90px);
}

#home-event {
	transform: translateX(90px);
}

#school-start-event {
	transform: translateX(120px);
}

#hockey-start-event {
	transform: translateX(130px);
}

#vacation-event {
	transform: translateX(40px);
}

#middle-school-start-event {
	transform: translateX(120px);
}

#high-school-start-event {
	transform: translateX(120px);
}