.page-container {
	height: 100vh; /* Set a fixed height */
	overflow-y: auto; /* Enable vertical scrolling */
}

.timeline-container {
	display: flex;
	flex-direction: row; /* Ensure cards are in a row */
	justify-content: flex-start; /* Align items to the start */
	align-items: center;
	overflow-x: auto; /* Enable horizontal scrolling */
	white-space: nowrap; /* Prevent wrapping of cards */
}

.card {
	color: green;
	flex-direction: column;
	margin: 20px;
	border: 1px solid #979696;
	border-radius: 8px;
	display: inline-block; /* Ensure cards are inline for nowrap */
}

.timeline-line {
	position: relative;
	width: 100%;
	height: 2px;
	background-color: #000;
	margin: 20px 0;
}

.tick {
	position: absolute;
	width: 2px;
	height: 10px;
	background-color: #000;
	top: -4px;
	cursor: pointer; /* Change cursor to pointer */
}

.tick:hover .event-card {
	display: block; /* Show event card on hover */
}

#event-card {
	color: green;
	display: none; /* Hide event card by default */
	position: absolute;
	top: 20px; /* Position it below the tick */
	left: 50%;
	transform: translateX(-50%);
	background-color: #fff;
	border: 1px solid #979696;
	border-radius: 8px;
	padding: 10px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
	z-index: 99; /* Ensure it appears above other elements */
}

.tick-label {
	position: absolute;
	top: 10px;
	transform: translateX(-50%);
	font-size: 12px;
}