@font-face {
	font-family: "Circular";
	src: url("/Users/lucas/Developer/1-Autobiographical-Timeline/public/assets/fonts/circular-std/CircularStd-Bold.woff2")
		format("woff2");
	font-weight: normal;
	font-style: normal;
}

body {
	background: linear-gradient(to top, darkorange, orange);
	color: white;
	font-family: "Circular", sans-serif;
}

.page-container {
	height: 100vh; /* Set a fixed height */
	overflow-y: auto; /* Enable vertical scrolling */
	margin: 30px;
	flex-wrap: wrap;
	justify-content: center;
	flex-direction: row;
}

h1 {
	font-size: 2rem;
	position: absolute;
	top: 30px;
	left: 50px;
	text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

footer {
	background-color: #5c5c5c;
	padding: 25px 0;
	text-align: center;
	width: 100%;
	height: 10vh;
	position: fixed;
	z-index: 1000;
	border-top: 1px solid #e9ecef;
}
