@font-face {
	font-family: "Circular";
	src: url("/Users/lucas/Developer/1-Autobiographical-Timeline/public/assets/fonts/circular-std/CircularStd-Bold.woff2")
		format("woff2");
	font-weight: normal;
	font-style: normal;
}

html {
	border-top: 1px solid orange;
}

body {
	background: linear-gradient(to top, darkorange, orange);
	color: white;
	height: 100vh;
	font-family: "Circular", sans-serif;
}

.page-container {
	height: 86vh; /* Set a fixed height */
	margin: 30px;
	flex-wrap: wrap;
	justify-content: center;
	flex-direction: row;
	scrollbar-width: none;
}

#page-title {
	font-size: 2.5rem;
	position: absolute;
	top: 35px;
	left: 135px;
	text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.4);
}

/* Page Footer */
footer {
	text-align: center;
	justify-content: center;
	align-items: center;
}

/* Footer Icons */
#social-media-icons img {
	margin: 0px 10px; /* Space icons by 20 px */
	margin-bottom: 20px; /* Add margin to bottom to even out difference with top */
	justify-content: center; /* Center horizontally */
	align-items: center;
	width: auto;
	color: white;
}

#social-media-icons img:hover {
	cursor: pointer;
	filter: brightness(150%);
	transform: scale(1.2);
}
