@font-face {
	font-family: "CustomFont";
	src: url("/path/to/font.woff2") format("woff2"),
		url("/path/to/font.woff") format("woff");
	font-weight: normal;
	font-style: normal;
}

body {
	font-family: "CustomFont", sans-serif;
}

.timeline-container {
	height: 100vh;
	display: flex;
	flex-direction: row; /* Ensure cards are in a row */
	justify-content: flex-start; /* Align items to the start */
	align-items: center;
	overflow-x: auto; /* Enable horizontal scrolling */
	white-space: nowrap; /* Prevent wrapping of cards */
	scrollbar-width: none; /* Firefox */
}

.timeline-container::-webkit-scrollbar {
	display: none; /* Chrome, Safari, and Opera */
}

.timeline-line {
	position: relative;
	left: 150px;
	height: 2px;
	background-color: white;
	margin: 20px 0;
	box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
}

.tick,
.half-tick,
.decade-tick {
	position: absolute;
	background-color: white;
	border-radius: 6px;
	top: -4px;
	cursor: pointer; /* Change cursor to pointer */
	z-index: 10; /* Ensure ticks are above the timeline line */
}

.tick {
	height: 10px; /* Corrected height */
	width: 4px; /* Corrected width */
}

.half-tick {
	top: -8px;
	height: 20px; /* Corrected height */
	width: 6px; /* Corrected width */
}

.decade-tick {
	top: -15px;
	height: 35px; /* Corrected height */
	width: 6px; /* Corrected width */
}

.tick:hover .event-card,
.half-tick:hover .event-card,
.decade-tick:hover .event-card {
	display: block; /* Show event card on hover */
}

.tick-label {
	color: rgb(239, 238, 238);
	text-align: left;
	position: absolute;
	top: 20px;
	transform: translateX(-50%);
	font-weight: 650;
	font-size: 25px;
}

.half-tick .tick-label {
	top: 20px;
	font-size: 35px;
	font-weight: 700;
}

.decade-tick .tick-label {
	top: 40px;
	font-size: 50px;
	font-weight: 900;
}

.tick-label:hover {
	color: white;
	text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
	font-size: calc(1.1 * 25px); /* Increase by 20% */
}

.half-tick .tick-label:hover {
	font-size: calc(1.1 * 35px); /* Increase by 20% */
}

.decade-tick .tick-label:hover {
	font-size: calc(1.1 * 50px); /* Increase by 20% */
}

.card {
	color: green;
	flex-direction: column;
	margin: 20px;
	border: 1px solid #979696;
	border-radius: 8px;
	display: inline-block; /* Ensure cards are inline for nowrap */
}

.event-card {
	display: none; /* Hide event card by default */
	position: absolute;
	top: -300px; /* Position it below the tick */
	left: 50%;
	transform: translateX(-50%);
	background-color: #fff;
	border: 1px solid #979696;
	border-radius: 8px;
	padding: 10px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
	z-index: 99; /* Ensure it appears above other elements */
}
