@font-face {
	font-family: "CustomFont";
	src: url("/path/to/font.woff2") format("woff2"),
		url("/path/to/font.woff") format("woff");
	font-weight: normal;
	font-style: normal;
}

body {
	font-family: "CustomFont", sans-serif;
}

.timeline-container {
	height: 100vh;
	display: flex;
	flex-direction: row; /* Ensure cards are in a row */
	justify-content: flex-start; /* Align items to the start */
	align-items: center;
	overflow-x: auto; /* Enable horizontal scrolling */
	white-space: nowrap; /* Prevent wrapping of cards */
}

.timeline-line {
	position: relative;
	left: 150px;
	height: 2px;
	background-color: white;
	margin: 20px 0;
	box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
}

.tick,
.half-tick,
.decade-tick {
	position: absolute;
	width: 2px;
	height: 10px;
	background-color: white;
	top: -4px;
	cursor: pointer; /* Change cursor to pointer */
}

.tick:hover .event-card,
.half-tick:hover .event-card,
.decade-tick:hover .event-card {
	display: block; /* Show event card on hover */
}

.tick-label {
	color: white;
	position: absolute;
	top: 10px;
	transform: translateX(-50%);
	font-size: 12px;
}

.card {
	color: green;
	flex-direction: column;
	margin: 20px;
	border: 1px solid #979696;
	border-radius: 8px;
	display: inline-block; /* Ensure cards are inline for nowrap */
}

.event-card {
	display: none; /* Hide event card by default */
	position: absolute;
	top: 20px; /* Position it below the tick */
	left: 50%;
	transform: translateX(-50%);
	background-color: #fff;
	border: 1px solid #979696;
	border-radius: 8px;
	padding: 10px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
	z-index: 99; /* Ensure it appears above other elements */
}
