<footer>
	<!-- Grid container -->
	<div class="container pt-4" id="social-media-icons">
		<!-- Github -->
		<a class="navbar-brand" href="https://github.com/LucasPatenaude">
			<img
				src="/img/brand-icons/github.png"
				alt="Github"
				width="30"
				height="30"
			/>
		</a>

		<!-- GitLab -->
		<a class="navbar-brand" href="https://gitlab.com/LucasPatenaude">
			<img
				src="/img/brand-icons/gitlab.png"
				alt="Gitlab"
				width="30"
				height="30"
			/>
		</a>

		<!-- LinkedIn -->
		<a
			class="navbar-brand"
			href="https://www.linkedin.com/in/lucas-patenaude-7b7a7428b/"
		>
			<img
				src="/img/brand-icons/linkedin.png"
				alt="LinkedIn"
				width="30"
				height="30"
			/>
		</a>
	</div>
</footer>