<footer>
	<!-- Grid container -->
	<div class="footer-icons-container" id="social-media-icons">

		<!-- GitHub -->
		<a class="footer-icon" href="https://github.com/LucasPatenaude">
			<img src="/img/footer-icons/github.png" alt="GitHub" height="30" />
		</a>

		<!-- Code Repository (GitHub) -->
		<a
			class="footer-icon"
			href="https://github.com/lucaspatenaude/Autobiographical-Timeline.git"
		>
			<img
				src="/img/footer-icons/repository.png"
				alt="Code Repository"
				height="30"
			/>
		</a>

		<!-- Canvas-->
		<a class="footer-icon" href="https://canvas.colorado.edu/profile/">
			<img src="/img/footer-icons/canvas.png" alt="Canvas" height="30" />
		</a>
	</div>
</footer>